.Produto {
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 70vw;
}

.Produto .titulo {
    display: flex;
    height: 3.7vw;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 6vw;
    width: 40vw;
    background: #780000;
}

.Produto .menu {
    margin-top: 5vw;
    background: #780000;
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Produto .menu button{
    border: none;
    font-size: 2.5vw;
    background: none;
    color: white;
}

.Produto .menu button:focus{
    font-weight: 700;
}

/* classes dos produtos */
.containerProdutos {
    padding: 2vw 2vw 2vw 2vw;
    font-size: 1.5vw;
    color: #000000;
    background: #FFFFFF;
    width: 71vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
