.Sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 135vw;
}

.Sobre .titulo {
    display: flex;
    height: 3.7vw;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 750;
    font-size: 2.7vw;
    line-height: 6vw;
    width: 23vw;
    background: #780000;
}

.Sobre .texto {
    width: 79vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    text-align:justify;
}

.Sobre .texto p{
    font-size: 2.5vw;
    color: black;
    align-items:center;
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
} 

.Sobre .note{
    width: 75vw;
    position:relative;
    color: black;
    background: rgba(120, 0, 0, 0.27);
    font-style: italic;
    font-size: 2.4vw;
    font-weight:300;
    padding: 1.5%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    text-align:justify;
}

.Sobre .note p{
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    color: black;
    align-items:center;
    display: flex;
    justify-content: center;
}

.rectangle{
    width: 0.70vw;
    position: absolute;
    margin-right:78%;
    margin-bottom:19%;
    height: 17.5vw;
    background: #780000;
}

.FotoLoja {
    padding-top: 10%;
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FotoLoja img{
    height: 47vw;
}

.Sobre .texto2 {
    width: 79vw;
    color: black;
    margin-top: 3vw;
    font-size: 2vw;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: left;
}