.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4A0101;
    height: 10vh;
}

.Header * {
    padding: 0;
    margin: 0;
}

.Fields {
    display: flex;
    justify-content:end;
    gap: 20vw;
}

.Fields a{
    color: white;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 5vh;
}

@media screen and (max-width: 767px) {
    .Fields {
        display: flex;
        gap: 32px;
    }
}