.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4A0101;
    height: 5vw;
}

.Header * {
    padding: 0;
    margin: 0;
}

.Fields {
    display: flex;
    justify-content: end;
    gap: 15vw;
}

.Fields a{
    color: white;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 3vw;
}

@media screen and (max-width: 767px) {

    .Header {
        display: flex;
        height: 15vw;
    }

    .Fields {
        display: flex;
        gap: 10vw;
    }

    .Fields a{
        font-size: 6vw;
    }
}