
.Banner {
    position: relative;
}

.Banner .imagem {
    position: absolute;
    height: 400px;
    width: 100vw;
    background: red;
}

.Banner .texto {

    position: absolute;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 58px;
    left: 40px;
    top: 270px;
    width: 535px;
}


